<%= content_for :title, "Регистрация" %>
<style>
    body{
        background-image: url("https://images.wallpaperscraft.ru/image/single/nebo_svet_abstrakciya_85064_1920x1080.jpg");
    }

</style>
<div class="registr">
  <h1 class="display-1 ">Регистрация</h1><hr>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email,class:"form-label" %><br />
      <%= f.email_field :email, autofocus: true,class:"form-control w-50", autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :Пароль,class:"form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> знаков минимум)</em>
      <% end %><br />
      <%= f.password_field :password,class:"form-control w-50", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :Подтверждение_пароля,class:"form-label" %><br />
      <%= f.password_field :password_confirmation,class:"form-control w-50", autocomplete: "new-password" %>
    </div>
  <br>
    <div class="actions">
      <%= f.submit "Зарегистрироваться",class:"btn btn-submit border-1 border-dark" %>
    </div>
  <% end %><br>
</div>
<%= render "devise/shared/links" %>
