<style>
  nav-item{

  }
</style>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "Главная","/",class:"fs-1 navbar-brand " %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fs-3 " id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-link fs-3  btn btn-submit">
            <%= link_to "Статьи","/articles",class:"nav-link" %>
          </li>
          <li class="nav-link fs-3  btn btn-submit">
            <%= link_to "Цена","/price",class:"nav-link " %>
          </li>
          <li class="nav-link ">
            <div class="btn-group">
              <%= link_to "Личный кабинет","/profile",class:"nav-link" %>

              <button type="button" class="btn btn-submit dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Переключатель выпадающего списка</span>
              </button>
              <ul class="dropdown-menu w-100">
                <%= link_to 'Редактировать',edit_user_registration_path , :class => 'dropdown-item' %>
                <%= button_to 'Выйти', destroy_user_session_path, method: :delete,class:"dropdown-item" %>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
